<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="introMapper">
	
		<resultMap type="IntroBoard" id="introBoard_rm">
			  <id property="boardNo" column="BOARD_NO"/>
        <result property="boardCode" column="BOARD_CODE"/>
				<result property="boardTitle" column="BOARD_TITLE"/>
	      <result property="readCount" column="READ_COUNT"/>
	      <result property="boardDelFl" column="BOARD_DEL_FL"/>
	      <result property="commentCount" column="COMMENT_COUNT"/>
	      <result property="commentContent" column="COMMENT_CONTENT"/>
	      <result property="loginCount" column="LOGIN_COUNT"/>
	      <result property="noticeFl" column="NOTICE_FL"/>
	      <result property="commentNo" column="COMMENT_NO"/>
	      <result property="commentDelFl" column="COMMENT_DEL_FL"/>
	      <result property="memberNickname" column="MEMBER_NICKNAME"/>
	      <result property="memberNo" column="MEMBER_NO"/>
	      <result property="likeCount" column="LIKE_COUNT"/>
	      <result property="loginDate" column="LOGIN_DATE"/>
	      <result property="thumbnail" column="THUMBNAIL"/>
	      <result property="cafeProfile" column="PROFILE_IMG"/>
		</resultMap>

		
		<!-- 전체글조회 -->
		<select id="selectBoardList" parameterType="_int" resultMap="introBoard_rm">
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CODE, READ_COUNT,
				(SELECT COUNT(*) FROM "COMMENT" C
				WHERE C.BOARD_NO = B.BOARD_NO 
				AND COMMENT_DEL_FL='N') COMMENT_COUNT
			FROM "BOARD" B
			WHERE BOARD_DEL_FL = 'N'
			AND NOT NOTICE_FL = 1
			ORDER BY BOARD_NO DESC
		</select>
		
		<!-- 전체공지만 조회 -->
		<select id="selectNoticeList" parameterType="_int" resultMap="introBoard_rm">
			SELECT BOARD_NO, BOARD_TITLE, BOARD_CODE, READ_COUNT,
				(SELECT COUNT(*) FROM "COMMENT" C
				WHERE C.BOARD_NO = B.BOARD_NO
				AND COMMENT_DEL_FL='N') COMMENT_COUNT
			FROM "BOARD" B
			WHERE NOTICE_FL = 2
			ORDER BY BOARD_NO DESC
		</select>
		
		<!-- 여행후기 게시판 글 조회 -->
		<select id="selectTravelReview" parameterType="_int" resultMap="introBoard_rm">
			SELECT BOARD_NO, BOARD_CODE, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT, 
							(SELECT COUNT(*) FROM "COMMENT" C
							WHERE C.BOARD_NO =B.BOARD_NO
							AND COMMENT_DEL_FL='N') COMMENT_COUNT
			,
		  (SELECT IMG_PATH || IMG_RENAME 
		  FROM (SELECT IMG_PATH, IMG_RENAME FROM BOARD_IMG I
		  WHERE I.BOARD_NO = B.BOARD_NO
		  ORDER BY IMG_NO) 
		  WHERE ROWNUM = 1) THUMBNAIL
			FROM BOARD B
			JOIN MEMBER USING(MEMBER_NO)
			WHERE BOARD_DEL_FL = 'N'
			AND BOARD_CODE = 12
			ORDER BY BOARD_NO DESC
		</select>
		
		<!-- 대분류(카테고리 리스트) -->
		<select id="selectMainList" resultType="map">
			SELECT * FROM MAIN_CATEGORY WHERE CATEGORY_DEL_FL='N'
		</select>
	
		<!-- 당일 방문자수 조회 -->
		<select id="selectTodayVisit" resultType="_int">
				SELECT COUNT(*)
				FROM LOGIN_HISTORY
				WHERE TO_CHAR(LOGIN_DATE , 'YYYYMMDD' ) = TO_CHAR( SYSDATE, 'YYYYMMDD')
		</select>
		
		<!-- 전체 방문자수 조회 -->
		<select id="selectAllVisit" resultType="_int">
			SELECT COUNT(*) FROM LOGIN_HISTORY
		</select>
		
		<!-- 하루전 댓글 랭킹 -->
		<select id="commentRank" parameterType="_int" resultMap="introBoard_rm">
				SELECT A.*
				FROM (SELECT MEMBER_NICKNAME, M.MEMBER_NO,
				COUNT(C.MEMBER_NO) COMMENT_COUNT
				FROM "MEMBER" M
				JOIN "COMMENT" C ON M.MEMBER_NO = C.MEMBER_NO
				WHERE TO_CHAR(C.C_CREATE_DATE, 'YYYYMMDD' ) >= TO_CHAR( SYSDATE-7, 'YYYYMMDD')
				GROUP BY M.MEMBER_NO, M.MEMBER_NICKNAME ) A
				WHERE A.COMMENT_COUNT > 0
				ORDER BY COMMENT_COUNT DESC
		</select>
		
		<!-- 하루전 게시글 랭킹 -->
		<select id="boardRank" parameterType="_int" resultMap="introBoard_rm">
				SELECT A.*
				FROM (SELECT MEMBER_NICKNAME, M.MEMBER_NO,
				COUNT(B.MEMBER_NO) BOARD_COUNT
				FROM "MEMBER" M
				JOIN "BOARD" B ON M.MEMBER_NO = B.MEMBER_NO
				WHERE TO_CHAR(B.B_CREATE_DATE, 'YYYYMMDD' ) >= TO_CHAR( SYSDATE-7, 'YYYYMMDD')
				GROUP BY M.MEMBER_NO, M.MEMBER_NICKNAME ) A
				WHERE A.BOARD_COUNT > 0
				ORDER BY BOARD_COUNT DESC
		</select>
		
		<!-- 멤버랭킹 -로그인 -->
		<select id="loginRank" parameterType="_int" resultMap="introBoard_rm">
				SELECT A.*
				FROM (SELECT MEMBER_NICKNAME, M.MEMBER_NO,
				COUNT(L.MEMBER_NO) LOGIN_COUNT
				FROM "MEMBER" M
				JOIN "LOGIN_HISTORY" L ON M.MEMBER_NO = L.MEMBER_NO
				WHERE TO_CHAR(L.LOGIN_DATE, 'YYYYMMDD' ) >= TO_CHAR( SYSDATE-7, 'YYYYMMDD')
				GROUP BY M.MEMBER_NO, M.MEMBER_NICKNAME ) A
				WHERE A.LOGIN_COUNT > 0
				ORDER BY LOGIN_COUNT DESC
		</select>
		
		<!-- 회원 수 조회 -->
		<select id="memberCount" resultType="_int">
				SELECT COUNT(MEMBER_NO)
				FROM "MEMBER"
				WHERE MEMBER_DEL_FL = 'N'
		</select>
		
		<!-- 게시글랭킹-좋아요 횟수 -->
		<select id="boardLikeRank" parameterType="_int" resultMap="introBoard_rm">
				SELECT A.*
				FROM(
				SELECT BOARD_TITLE, B.BOARD_NO, B.BOARD_CODE, COUNT(L.MEMBER_NO) LIKE_COUNT
				FROM "BOARD" B
				JOIN "BOARD_LIKE" L ON B.BOARD_NO = L.BOARD_NO
				WHERE TO_CHAR(B.B_CREATE_DATE, 'YYYYMMDD') >= TO_CHAR( SYSDATE-7, 'YYYYMMDD')
				GROUP BY B.BOARD_TITLE, B.BOARD_NO, B.BOARD_CODE)A
				WHERE A.LIKE_COUNT > 0
				ORDER BY LIKE_COUNT DESC
		</select>

		<!-- 게시글랭킹-댓글 횟수 -->
		<select id="boardCommentRank" parameterType="_int" resultMap="introBoard_rm">
				SELECT A.*
				FROM(
				SELECT BOARD_TITLE, B.BOARD_NO, B.BOARD_CODE, COUNT(C.COMMENT_NO) COMMENT_COUNT
				FROM "BOARD" B
				JOIN "COMMENT" C ON C.BOARD_NO = B.BOARD_NO
				WHERE TO_CHAR(B.B_CREATE_DATE, 'YYYYMMDD') >= TO_CHAR( SYSDATE-7, 'YYYYMMDD')
				AND TO_CHAR(C.C_CREATE_DATE, 'YYYYMMDD') >= TO_CHAR( SYSDATE-7, 'YYYYMMDD')
				GROUP BY B.BOARD_TITLE, B.BOARD_NO, B.BOARD_CODE)A
				WHERE A.COMMENT_COUNT > 0
				ORDER BY COMMENT_COUNT DESC
		</select>
		
		<!-- 멤버 소식 - 방문 -->
		<select id="memberVisit" parameterType="_int" resultMap="introBoard_rm">
				SELECT M.MEMBER_NICKNAME, M.MEMBER_NO, L.LOGIN_DATE
				FROM LOGIN_HISTORY L
				JOIN "MEMBER" M ON L.MEMBER_NO = M.MEMBER_NO
				WHERE L.LOGIN_DATE = (SELECT MAX(LL.LOGIN_DATE)
										FROM LOGIN_HISTORY LL
										WHERE LL.MEMBER_NO = L.MEMBER_NO)
				ORDER BY L.LOGIN_DATE DESC		
		</select>
		
		<!-- 멤버 소식 - 신입 -->
		<select id="memberNew" parameterType="_int" resultMap="introBoard_rm">
				SELECT *
				FROM "MEMBER"
				ORDER BY ENROLL_DATE DESC		
		</select>
 
 		<!-- 최근 게시글 - 게시글 -->
 		<select id="newBoard" parameterType="_int" resultMap="introBoard_rm">
				SELECT *
				FROM BOARD
				WHERE BOARD_DEL_FL = 'N'
				ORDER BY B_CREATE_DATE DESC
 		</select>
 		
 		<!-- 최근 게시글/댓글 - 댓글 -->
 		<select id="newComment" parameterType="_int" resultMap="introBoard_rm">
				SELECT *
				FROM "COMMENT" C
				JOIN "BOARD" B ON(B.BOARD_NO=C.BOARD_NO)
				WHERE COMMENT_DEL_FL = 'N'
				ORDER BY C_CREATE_DATE DESC	
 		</select>
 		
 		<!-- 카페 프로필 이미지 -->
 		<select id="cafeInfo" parameterType="_int" resultMap="introBoard_rm">
				SELECT *
				FROM CAFE_INFO
				WHERE CAFE_NO = 1
 		</select>
 
</mapper>
