<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerBoard">

    	<!-- <resultMap type="ManagerCafeInfo" id="cafeInfo_rm">
    	
    		DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 
    		<id property="cafeNo" column="CAFE_NO"/>
    		
    		나머지 일반 컬럼
	      <result property="profileImg" column="PROFILE_IMG" />
	      <result property="mainHeaderImg" column="CAFE_MAIN_HEADER_IMG" />
	      <result property="topFrontImg" column="CAFE_MAIN_HEADER_IMG" />
	      <result property="bottomFrontImg" column="CAFE_BOTTOM_FRONT_IMG" />
	      <result property="cafeJoinFL" column="CAFE_JOIN_FL" />
	      
	      <result property="memberLeverNo" column="MEMBER_LEVEL_NO" />
	      <result property="memberLevelName" column="MEMBER_LEVEL_NAME" />
	      <result property="boardCount" column="BOARD_COUNT" />
	      <result property="commentCount" column="COMMENT_COUNT" />
	      <result property="visitCount" column="VISIT_COUNT" />
	      <result property="memberLevelImg" column="MEMBER_LEVEL_IMG" />


    	</resultMap> -->
    	
	
</mapper>
