<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberLevelMapper">

	<!-- Member -->	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		 <result property="memberEmail" column="MEMBER_EMAIL" />
		 <result property="memberPw" column="MEMBER_PW" />
		 <result property="memberNickname" column="MEMBER_NICKNAME" />
		 <result property="memberResidence" column="MEMBER_RESIDENCE" />
		 <result property="profileImage" column="PROFILE_IMG" />
		 <result property="enrollDate" column="ENROLL_DATE" />
		 <result property="memberDeleteFlag" column="MEMBER_DEL_FL" />
		 <result property="authorityNo" column="AUTHORITY_NO" />
		 <result property="memberLevelNo" column="MEMBER_LEVEL_NO" />
		 <result property="memberLevelName" column="MEMBER_LEVEL_NAME" />
	</resultMap>
	
	
	<!-- MemberLevel -->
	<resultMap type="MemberLevel" id="memberLevel_rm">
		<id property="memberLevelNo" column="MEMBER_LEVEL_NO"/>
			<result property="memberLevelName" column="MEMBER_LEVEL_NAME" />
			<result property="memberLevelImage" column="MEMBER_LEVEL_IMG" />
			<result property="boardCount" column="BOARD_COUNT" />
			<result property="commentCount" column="COMMENT_COUNT" />
			<result property="visitCount" column="VISIT_COUNT" />
	</resultMap>

	
  
</mapper>
