footer *{
    display: inline-block;
}

.footer{
    margin: 60px 0px 0px;
    padding: 12px 0px 12px 0px;
    border-top: 2px solid #333;
}

footer .cafe_name{
    /* margin: 0;
    padding: 0; */
    font-size: 13px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: bold; */
}

.cafe_nbsp{
    color: #e5e5e5;
    /* padding: 12px; */
    margin-top: 1px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-left: 7px;
    height: 17.6px;
}

.cafe_link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.footer a:hover {
    text-decoration: underline;
}

.never_cafe{
    font-size: 14.5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    right: 0px;
    padding-left: 459px;
}