@import url('./managerHeader.css');
@import url('./managerFooter.css');

body{
    width: 100%;
    height: 100%; 
    margin: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
}

body{
    display: block;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 메인홈이라서 메인관리 메뉴만 색깔변경 */
.nav_menu li:nth-of-type(4) a{
  background-color: #39B900;
  color: white;
  border: 1px solid #797979;
}


/* menuSub 서브 네비 */
.lnb_sub{
  width: 100%;
  height: 39px;
  border-bottom: 1.5px solid #898989;
  display: inline-flex;
  justify-content: center;
}

.lnb_sub > ul{
  overflow: hidden;
  width: 920px;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  list-style: none;
}

.lnb_sub li{
  overflow: hidden;
  margin: 0px 2px 0px 0px;
}

.lnb_sub li:nth-of-type(1){
  margin: 0px 5px 0px 225px;
}

.lnb_sub li:nth-of-type(1) a{
  font-weight: bold;
  color: #219900;
  text-decoration: none;
  font-size: 12px;
}

.lnb_sub li a{
  font-weight: bold;
  text-decoration: none;
  color: #232628;
  font-size: 12px;
}

.lnb_sub li p{
  font-size: 10px;
  color: #797979;
}

.lnb_sub li a:hover{
  color: #219900;;
}

/* menuSub 서브 네비 */


.joinMemberMain{
  box-sizing: content-box;
  /* display: inline-flex;
  flex-direction: column; */
  z-index: 20;
  width: 920px;
  height: 100%;
  padding: 0 0 123px;
  margin: 0px auto;  
}

.joinMemberMain .joinfieldset{
  border: none;
}

.joinMemMainFromtitle{
  width: 920;
  /* margin-top: 28px; */
  height: 31px;
  border-bottom: 3px solid #565b62;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #222527;
}


.joinfieldset > .joinTablecol{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

.joinfieldset .joinTablerow1 {
  flex-basis: 20%;
}

.joinfieldset .joinTablerow2 {
  flex-basis: 80%;
}

.joinfieldset .joinTablecol{
  border-bottom: 1px solid #EBEBEB;
}


.joinfieldset .last{
  border-bottom: 1px solid #5B6067;
}

.joinfieldset .joinTablerow1 p{
  padding: 16px 0 0 3px;
  color: #272727;
  letter-spacing: -1px;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.joinMemberMain .joinTablerow2 .joinTablerow2Box{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.joinTablerow2Box .input_information{
  width: 717px;
  height: 72px;
  margin-bottom: 2px;
  padding: 5px;
  border: 1px solid #c5c5c5;
  border-color: #c5c5c5 #d9d9d9 #d9d9d9 #c5c5c5;
  resize: none;
}

.joinTablerow2Box div:nth-of-type(2){
  margin: 8px 0 -2px;
  font-size: 12px;
  line-height: 18px;
}

.joinTablerow2Box .input_informationExplan p{
    margin-bottom: 4px;
    padding-left: 7px;
    line-height: 16px;
    color: #959699;
}

.joinTablerow2 > .joinTablerow2Box > p{
  font-size: 12px;
}

.totalaccept{
  font-size: 12px;
  line-height: 18px;
  padding: 10px 0 3px;
}

.totalaccept .use_check{
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: -1px 4px 2px 0;
}

.joinText{
  font-weight: bold;
}


.joinButton{
  display: flex;
  justify-content: center;
}

.joinbuttonBox{
  margin: 25px auto 0;
}

.joinSave{  
  display: inline-block;
  height: 32px;
  padding: 0 23px 0 24px;
  background-color: rgb(10, 10, 59);
  border-radius: 10%;
  font-size: 12px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
  cursor: pointer;

}

.joincancel{
  display: inline-block;
  height: 32px;
  width: 80px;
  font-size: 12px;
  line-height: 34px;
  color: #666;
  text-align: center;
  cursor: pointer;
  letter-spacing: -1px;
  font-weight: bold;
  border-radius: 10%;
  border: 1px solid;
}

