@import url('./managerHeader.css');
@import url('./managerFooter.css');

body{
    width: 100%;
    height: 100%; 
    margin: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
}

body{
    display: block;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 메인홈이라서 메인관리 메뉴만 색깔변경 */
.nav_menu li:nth-of-type(3) a{
  background-color: #73358C;
  color: white;
  border: 1px solid #797979;
}


/* menuSub 서브 네비 */
.lnb_sub{
  width: 100%;
  height: 39px;
  border-bottom: 1.5px solid #898989;
  display: inline-flex;
  justify-content: center;
}

.lnb_sub > ul{
  overflow: hidden;
  width: 850px;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  list-style: none;
}

.lnb_sub li{
  overflow: hidden;
  margin: 0px 2px 0px 0px;
}

.lnb_sub li:nth-of-type(1){
  margin: 0px 5px 0px 225px;
}

.lnb_sub li:nth-of-type(1) a{
  font-weight: bold;
  color: #73358C;
  text-decoration: none;
  font-size: 12px;
}

.lnb_sub li a{
  font-weight: bold;
  text-decoration: none;
  color: #232628;
  font-size: 12px;
}

.lnb_sub li p{
  font-size: 10px;
  color: #797979;
}

.lnb_sub li a:hover{
  color: #73358C;
}

/* menuSub 서브 네비 */

.totalMemberMain{
  box-sizing: content-box;
  /* display: inline-flex;
  flex-direction: column; */
  z-index: 20;
  width: 920px;
  height: 100%;
  padding: 0 0 195px;
  margin: 0px auto;  
}

/* .totalMemberMain .infofieldset{
  border: none;
} */

.totalMemFromtitle{
  width: 920;
  /* margin-top: 28px; */
  height: 31px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #222527;
}


.totalMemberMain .totalSearchfieldset{
  border-top: 3px solid #565b62;
  border-left: 1px solid #c6c7ca;
  border-right: 1px solid #c6c7ca;
  border-bottom: 1px solid #a6a6a9;


}

/* 메인 안 쪽  */
.srch_in .srchOption{
  width:86px;
  height:19px;
}

.srch_in .lb_srch{
  color: #272727;
  font-size: 12px;
}

.srch_in .inputMember{
  width:248px;
  padding-left:7px;
}

.totalSearchfieldset .srch_in{
  margin-bottom: 2px;
}

.bx_srch_inner {
  position: relative;
  zoom: 1;
  padding: 17px 19px 15px;
  
}
.totalfrmSearch{
  display: inline-block;
}

.btn_type2_gn strong, .btn_type2_gn span {
  font-size: 12px;
  display: inline-block;
  height: 6px;
  padding: 0 8px;
  background-color: #73358C;
  line-height: 23px;
  border-radius: 10%;
}

.btn_type2_gn {
  display: inline-block;
  height: 23px;
  padding-left: 1px;
  /* background: url(https://cafe.pstatic.net/img/manage/sp_btn_141125.gif) no-repeat 0 -222px; */
  background-color: #73358C;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 10%;
  vertical-align: middle;
  padding: 0 9px;
  font-size: 12px;
  font-family:'돋움',Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #B7B7B8;
}

._submitDetail {
  display: inline-block;
  height: 23px;
  padding-left: 1px;

  background-color: #73358C;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 10%;
  vertical-align: middle;
  padding: 0 17px;
  font-size: 12px;
  font-family:'돋움',Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #B7B7B8;
}

.btn_type2 > span {
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0 7px;
  font-family:'돋움',Verdana, Geneva, Tahoma, sans-serif;
  
}

.btn_type2 {
  border: 1px solid #B7B7B8;
  border-radius: 6%;
  display: inline-flex;
  height: 23px;
  padding-left: 1px;
  color: #404040;
  text-decoration: none !important;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
}

.btn_type2 .bu {
  font-size: 11px;
  height: auto;
  font-family:'돋움',Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 1px;
  padding-left: 2px;
}

/*  */
/* 멤버 상세 검색 */
.srch_detail{
  display: none;
}
.srch_detail ul {
  overflow: hidden;
  zoom: 1;
  padding-top: 20px;
  list-style: none;
  font-size: 12px;
  display: inline-flex;
  color: #272727;
}

.srch_detail li{
  padding-right: 17px;
  display: inline-flex;
  align-content: center;
}

.srch_detail li > label{
  padding-left: 5px;
}

/* 멤버 상세 검색 ********************************/


/*  */
.srch_info {
  margin-top: 8px;
  padding-top: 7px;
  border-top: 1px solid #ececec;
  line-height: 19px;
  color: #404040;
  font-size: 12px;
}
._period{
  width:86px;
  height:19px;
}
.text{
  width:38px;
  padding-left:3px;
}
._above{
  width:56px;
  height:19px;
  margin-left:4px;
}
.srch_info:nth-of-type(2), .srch_info:nth-of-type(3),
.srch_info:nth-of-type(4){
  display: none;
}

.srch_info select {
  vertical-align: middle;
}

.srch_info .txt2 {
  margin-right: 8px;
}
.srch_info .txt, .srch_info label {
vertical-align: -1px;
}

input.text {
height: 19px;
line-height: 19px;
border: 1px solid;
border-color: #b6b6b6 #d7d7d7 #d7d7d7 #b6b6b6;
vertical-align: middle;
}

._entryType{
  width:73px;
  height:19px;
  margin-left:4px
}
.date, .cal {
  width:100px;
}

/*  */

/*  */
.board_tit {
  margin-bottom: 1px;
  padding: 22px 0 7px 2px;
  border-bottom: 1px solid #eaeaea;
  color: #272727;
  display: flex;
  box-sizing: content-box;
}
.board_tit > strong {
  font-size: 14px;
  letter-spacing: -1px;
  color: #272727;
  font-weight: bolder;
  margin-right: 4px;
}
.board_tit > ._memberCount {
  font-size: 13px;
  color: #73358C;
  font-weight: bold;
  font-family: tahoma;
}
/* 회원 데이터 출력 위 버튼 */

.board_action {
  position: relative;
  width: 100%;
  padding: 7px 0 8px;
}

.action_in {
  float: left;
  padding-left: 3px;
  color: #404040;
  vertical-align: middle;
}

/*몇명 정렬*/
.board_action{
  z-index: 10;
}
.action_in > ._selectMemberLevel{
  width:100px;
  height:19px;
}

.action_arr {
  float: right;
  position: relative;
  padding-top: 1px;
  text-align: right;
  display: flex;
}
.action_arr p {
  float: left;
}
.action_arr select{
  width: 86px;
  height: 19px;
  margin-left: 2px;
}

/* .action_arr select:nth-of-type(2){
  width:86px;
  height:19px; 
} *******************************************************************/

.btn_type {
  border-radius: 6%;
  display: inline-flax;
  align-items: center;
  height: 21px;
  padding-left: 1px;
  color: #404040;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid #B7B7B8;
  justify-content: center;
  align-content: center;
}

.btn_type span {
  display: inline-block;
  height: 21px;
  padding: 0 7px;
  font-size: 12px;
  font-family: '돋움',Verdana, Geneva, Tahoma, sans-serif;
}

.action_in .bar {
  display: inline-block;
  width: 1px;
  height: 19px;
  margin: 1px 2px 0 1px;
  *margin-right: 6px;
  background-color: #eaeaea;
  vertical-align: top;
}

/* 데이터 출력 테이블 */
.tbl_lst_type {
  width: 920px;
  height: 147px;
  font-size: 12px;
  line-height: 16px;
  table-layout: fixed;
  border-bottom: 1px solid #C9C9C9
}

caption {
  display: none;
}

table {
  border-style: none;
  text-indent: initial;
  border-collapse:collapse; 
  width:100%;
}


.tbl_lst_type th{
  background-color: #F1F6FA;
  border: 1px solid #C8CFD4;
}

.img > img{
  width:20px;
  height:20px;
}

.c_gy2 > img{
  width:11px;
  height:11px; 
} 
._sortType{
  display: inline-block;
  color: #666;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  height: 27px;
  line-height: 29px;
}

.buNone{
  display: none;
}

tbody{
  
  border: 0px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #C9C9C9 !important;
  overflow-y:auto;
  max-height: 120px;
  width:920px;
  overflow-x:hidden;
  
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  background-color: #ced4da;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

tbody tr{
  display: table;
  width:920px;
}
tbody td:nth-of-type(1){
  width: 23px;
}
tbody td:nth-of-type(3){
  width: 142px;
}
tbody td:nth-of-type(4){
  width: 81px;
}
tbody td:nth-of-type(5){
  width: 81px;
}
tbody td:nth-of-type(6){
  width: 86px;
}
tbody td:nth-of-type(7){
  width: 86px;
}
tbody td:nth-of-type(8){
  padding-right: 5px;
  width: 85px;
}

.line_n , .line_r{
  display: inline-block;
  color: #666;
  font-weight: normal;
  font-size: 12px;
  height: 27px;
  line-height: 29px;
}

.tbl_lst_type td {
  color: #949494;
}

._checkable td{
  border: none;
  border-bottom: 1px solid #ECECEC;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tbl_lst_type td.tr .num {
  padding-right: 9px;
}

.pers_nick_area{
  padding-left: 2px;
  display: inline-block;
  line-height: 21px;
}
.pers_nick_area img{
  display: inline-block;
  width: 20px;
  aspect-ratio: auto 20 / 20;
  height: 20px;
  vertical-align: middle;
}

._userInfo {
  text-decoration: none;
  overflow: hidden;
  line-height: 21px;
  cursor: pointer;
  display: inline-block;
  padding-top: 2px;
  color: #272727;
  vertical-align: middle;
}

.c_gy2 {
  color: #666 !important;
  padding-left: 2px;
}


/* 데이터 출력 테이블 */

/* 화살표 */

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 9px;
  padding: 0;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.pagination a{
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
}

.current{
  font-weight: bold;
  border:1px solid #73358C;
  border-radius: 10%;
  color: #73358C !important;
  letter-spacing: 0 !important;
}


/* 상세조건 없을 경우 */
.noneSelect td {
  padding: 53px 0 47px;
  text-align: center;
  border: none;
  border-bottom-color: #c6c6c6;
  color: #949494;
}

/* 등급변경했을 때 매니저인 경우 */
.ly_type {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 18px 19px 16px;
  border: 1px solid #888;
  background-color: #fff;
}

.ly_type .ly_cont_v2 {
  letter-spacing: 0;
}

.ly_type .ly_cont {
  width: 100%;
  overflow: hidden;
  line-height: 18px;
  letter-spacing: -1px;
  color: #404040;
}

.ly_type em {
  text-decoration: underline;
}

.c_gn {
  color: #2e9901 !important;
}

em{
  font-style: normal;
}

.c_og {
  color: #ff7200 !important;
}

.ly_type .ly_cont_v2 strong {
  letter-spacing: -1px;
}

strong {
  font-weight: bold;
}

.ly_type .ly_cont_v2 p {
  display: block;
  font-family: '돋움', Dotum, Helvetica, sans-serif;
  font-size: 12px;
}

.btn_type3 , .btn_type4{
  display: inline-block;
  height: 25px;
  padding-left: 2px;
  color: #404040;
  text-decoration: none !important;
  cursor: pointer;
}

.btn_type3 strong, .btn_type3 span {
  display: inline-block;
  height: 24px;
  padding: 0 10px 0 8px;
  line-height: 27px;
  font-family: '돋움', Dotum, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #B7B7B8;
  border-radius: 7%;
}

.ly_type .clse {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 4px;
  width: 34px;
  height: 34px;
  font-size: 12px;
  color: #404040;
  font-family: '돋움', Dotum, Helvetica, sans-serif;
  text-decoration: none;
}

.ly_type .ly_cont .btn {
  display: block;
  padding-top: 38px;
  text-align: center;

}

.ico_level_div{
  display: inline-block;
}

.btn_type4 strong, .btn_type4 span {
  display: inline-block;
  height: 24px;
  padding: 0 10px 0 8px;
  line-height: 27px;
  font-family: '돋움', Dotum, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #B7B7B8;
  border-radius: 7%;
}

.ly_type .ly_cont .btn2 {
  display: block;
  padding-top: 55px;
  text-align: center;

}