/* header */
#never-gnb{
    align-self:flex-start;
    height: 35px;
    margin: 0;
    z-index: 10;
    cursor: pointer;
}

.link_never{
    float: left;
    margin: 13px 40px 0 0;
    display: flex;
}
#pic{
    margin-bottom: 10px;
    position: relative;
}
.cafe_project{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 140px;
    background-color: hsl(0, 0%, 80%,50%);
    position: absolute;
    right: 0%;
    bottom: 4px;
    /* border: solid 1px hsl(0, 0%, 80%,30%); */
    font-size: 15px;
    color: white;
    font-weight: bold;
    /* display: */
    
}
#cafe_project_name,#cafe_project_names{
    text-align: center;
    height: 17px;
}

/* ////////////////////////////////////////////////////////////// */
/* header 오른쪽 상단 메뉴 */

#header-top{
    display: flex;
    justify-content: space-between;
}

#header-top-menu a{
    text-decoration: none; /* 밑줄 없애기 */
    color : black; /* 글자 검정색 */
    font-size: 12px;
    padding: 9px;
    position: relative;
}

#header-top-menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#header-top-menu span{
    color : #ccc; /* 글자 검정색 */
    font-size: 12px;
}

/* 메뉴 on/off를 위한 체크박스 */
#header-menu-toggle{
    display : none;
}

/* 오른쪽 상단 닉네임 */
label[for="header-menu-toggle"] { 
    cursor: pointer; 
    font-size: 12px;
    margin-left: 5px;
}

label[for="header-menu-toggle"]:hover { text-decoration: underline; }


/* 체크박스의 다음 div */
#header-menu-toggle + div { display: none; }

/* 체크박스가 체크된 경우 다음 div */
#header-menu-toggle:checked + div { display: block; }


/* 닉네임 클릭시 보이는 메뉴 */
#header-menu {
    width: 100px;
    height: 80px;
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    position: absolute ;
    z-index: 10;
    background-color: white;

}

#header-menu > a {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#header-menu > a:hover {
    background-color: #e3e3e3;
}

/* ////////////////////////////////////////////////////////////// */

nav {
    height: 47px;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    /* margin-top: -12px; */
}

nav>ul {
    padding: 14px 24px;
    list-style: none;
    display: flex;
    /* align-items: center; */
}

/* nav li[id="special-menu-1"]::before,li[id="special-menu-2"]::before{
    content: "•";
    color: #a3a9a9;
    font-size:1px;
    padding: 11px;
} */

/* nav li[id="special-menu"]::before{
    content: "•";
    color: #a3a9a9;
    font-size:1px;
    padding: 2px;
} */

/* #special-menu{
    color: #a3a9a9;
    font-size:1px;
    padding: 1px;
} */

/* #special-menu:hover{
    text-decoration-line: none;
} */

/* nav li{
    flex-wrap: wrap;
    display: inline-block;
} */


nav li>a {
    text-decoration: none;
    color: black;
    /* font-size: 13px;
    width: 90px;
    height: 20px; */

    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

#special-menu > a:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

/* li a {
    text-decoration: none;
    color: black;
    font-size: 13px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    width: 90px;
    height: 20px;
} */

/* nav css 수정(feat.seohee) */
.special-menu {
    padding: 14px 18px; 
}

.special-menu li {
    position: relative;
    font-size: 13px;
    color: #000;
}

.special-menu > li::before{
    content: "•";
    margin: 0px 5px;
    width: 2px;
    height: 2px;
    padding: 0px 5px;
    border-radius: 100%;
    color: #a3a9a9;
}

.special-menu > li:first-child::before {
    content: "";
    padding: 0px;
}



