@import url('./header.css');
@import url('./footer.css');
@import url('./sideMenu.css');


body, main{
    width: 1078px;
    margin: auto;

    min-height: 300vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

