/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* 게시판명 */
.board-name{
    font-size: 30px;
    width: 859.99px;
    height: 26.01px;
    font-weight: bold;
}

/* 게시판설명(메뉴설명) */
.board-start{
    font-size: 10px;
    color: #ccc;
    width: 859.99px;
    height: 15px;
}

/* 공지 숨기기 */
.hidden{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 859.99px;
    height: 20px;
    font-size: 13px;
    border-bottom: 1px solid #666;
}

.span{
    padding: 0 10px 0 10px;
}

/* 제목 */
.title{
    width: 484px;
}

/* 테이블 */
table, th, td {
    border: none;
    white-space: nowrap;
}

/* 테이블 내용 */
td{
    border-bottom: 1px solid #f2f2f2;
}

/* 제목 + 작성자 + 작성일 + 조회 컬럼 */
th{
    color: #4e4e4e;
}

/* thead 태그 th 태그 */
thead th {
    height: 40px;
    padding: 2px;
    /* border-top: 1px solid #666; */
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

/* 제목 컬럼 왼쪽에 빈 공간(필독,공지,게시글번호) */
.empty{
    width: 60px;
}

/* 작성자 컬럼 */
.th-writer{
    width: 118px;
    text-align: left;
}

/* 작성일 컬럼 */
.th-date{
    width: 80px;
}

/* 조회 컬럼 */
.th-hits{
    width: 68px;
}

/* 좋아요 컬럼 */
.th-like{
    color: #4e4e4e;
    width: 39px;
}


/* tbody{
    background-color: #ebe1e1; 
} */


/* 필독 + 공지 */
.strong{

    background-color: #ffe3e4;
    color: #ff4e59;
    border-radius: 15%;
    text-align: center;
    font-size: 11px;
    font-weight: 800;
    line-height: 19px;
    border-bottom: 1px solid #f2f2f2;

}

/* 일반(회원) 게시글 번호 */
.board-number{
    font-size: 11px;
    text-align: center;
}

/* 필독 + 공지 제목 */
.strong-title{
    color: #ff4e59;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}

/* 일반(회원) 제목 */
.normal-title{
    font-size: 13px;
    text-align: left;
    color: #333;
}

/* 제목+작성자+댓글 밑줄 제거 */
a {
    text-decoration: none;
}

/* 댓글 */
.comment{
    color: #ff4e59;
    font-size: 13px;
    text-align: center;
}

/* 작성자 */
.writer{
    font-size: 13px;
    white-space: nowrap;
    color: #333;
}

/* 작성일 */
.reporting-date{
    font-size: 13px;
    text-align: center;
}

/* 조회 */
.hits{
    font-size: 13px;
    text-align: center;
}

/* 좋아요 */
.like{
    font-size: 13px;
    text-align: center;
}

/* 마우스 올려놓으면 테두리 아래에 밑줄이 가운데에서 바깥쪽으로 퍼져나가는 효과 */
/* #normal-title::after{
    position: absolute; content:""; display: block; 
    border-bottom: 1px solid #000; 
    transition: all 250ms ease-out; left: 50%; width: 0;}

#normal-title:hover::after{
    transition: all 250ms ease-out; left: 0%; width: 80%;
} */


.strong-title:hover{
    text-decoration: underline;
}

.normal-title:hover{
    text-decoration: underline;
}

.writer:hover{
    text-decoration: underline;
}

.comment:hover{
    text-decoration: underline;
}

/* 페이지 */
.page{
    margin-top: 32px;
    height: 40px;
    padding-top: 16px;
    text-align: center;
    background-color: #f9f9f9;
    width: 859.99px;
}

/* 페이지 내부 a 태그들 */
.page > a{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    box-sizing: border-box;
    line-height: 24px;
    color: #333;
}

.page > a:hover{
    text-decoration: underline;
}

/* 전체선택 */
.all{
    white-space: nowrap;
    font-size: 13px;
    width: 750px;
}

/* 삭제 */
.delete{
    white-space: nowrap;
}

/* 삭제 버튼 */
.delete-btn{
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #333;
}

/* 글쓰기 */
.writing{
    width: 859.99px;
    border-top: 1px solid #ebebea
}

/* 글쓰기 버튼 */
.writing-btn{
    float: right;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #333;
    margin-top: 9px;
}

.writing-btn:hover{
    cursor: pointer;
}

/* 다음 */
.daum{
    padding-left: 3px;
    color: #333;
}

.daum:hover{
    text-decoration: underline;
}

/* 날짜 + 선택 + 검색 */
.last{
    display: flex;
    width: 859.99px;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-top: 1px solid #ebebea
}

/* 날짜 */
.time{
    text-align: left;
    padding: 4.5px 36px 4.5px 12px;
    font-size: 13px;
    width: 141.6px;
    height: 33.99px;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* 선택 */
.choice{
    text-align: left;
    padding: 4.5px 36px 4.5px 12px;
    font-size: 13px;
    width: 141.6px;
    height: 33.99px;
    margin-right: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* 검색 */
.search-area{
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* 검색 입력 창 */
.query{
    padding: 0 12px;
    border: 0;
    margin-top: 5px;
    background-color: #f9f9f9;
}

/* 검색 버튼 */
.search{
    background-color: #03c75a;
    border: 0;
    color: #fff;
    display: inline-block;
    width: 56px;
    height: 32px;
}

ul, li{
    list-style: none;
}

.ul{
    display: inline-block;
    /* padding-left: 5px; */
    width: 860px;
}

.albumLi{
    /* padding-right: 10px; */
    float: left;
    margin-left: 12px;
    display: inline-block;
    height: 304px;
    width: 200px;
    padding-left: 0px;
    right: 0px;
}

li > div{
    font-size: 13px;
}

/* 제목 + 댓글 / 작성일 + • + 조회 수 */
.flex{
    display: flex;
}

.img-title{
    color: #333333;
    /* white-space: nowrap; */
    padding-top: 8px;
    font-weight: bold;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.img-title > div > a{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.img-comment{
    padding-left: 1px;
    color: #ff4e59;
    font-weight: bold;
    padding-top: 13px;
}

.img-writer{
    color: #666666;
    padding-top: 7px;
}

.img-date{
    color: #999999;
}

.img-span{
    color: #999999;
    padding-left: 5px;
}

.img-hits{
    color: #999999;
    padding-left: 5px;
}

.img-title:hover{
    text-decoration: underline;
}

.img-title:hover{
    text-decoration: underline;
}

.img-writer:hover{
    text-decoration: underline;
}

.img-comment:hover{
    text-decoration: underline;
}

.px{
    width: 859.99px;
    margin: 0;
}
