/* a 태그 밑줄 제거 */
a {
    text-decoration: none;
}

/* 게시글 외부 */
.board-all{
    border: 1px solid #EFF0F2;
    width: 860px;
    padding: 29px 29px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* 이동 + 수정 + 삭제 + 목록 */
.top-menu{
    display: flex;
    padding: 0 0 14px;
    width: 860px;
    justify-content: space-between;
}

/* 이동 */
.top-move{
    border: 1px solid #EFF0F2;
    background-color: #EFF0F2;
    border-radius: 15%;
    height: 36px;
    color: black;
    font-weight: 700;
    text-align: center;

    min-width: 46px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
    float: left;
    

}

/* 수정 */
.top-alter{
    border: 1px solid #EFF0F2;
    background-color: #EFF0F2;
    border-radius: 15%;
    height: 36px;
    color: black;
    font-weight: 700;
    text-align: center;

    min-width: 46px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
    float: left;
    cursor: pointer;
}

/* 삭제 */
.top-delete{
    border: 1px solid #EFF0F2;
    background-color: #EFF0F2;
    border-radius: 15%;
    height: 36px;
    color: black;
    font-weight: 700;
    text-align: center;

    min-width: 46px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
    float: left;
    cursor: pointer;
}

/* 목록 */
.top-list{
    border: 1px solid #EFF0F2;
    background-color: #EFF0F2;
    border-radius: 15%;
    height: 36px;
    color: black;
    margin-left: auto;
    font-weight: 700;
    text-align: center;

    min-width: 46px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
    float: right;
    cursor: pointer;
}

/* 게시판 종류 */
.board-list{
    font-size: 13px;
    /* width: 549.99px; */
    height: 26.01px;
    color: #03c75a;
}

/* 말머리 */
.title-tag{
    display: inline;
    font-size: 26px;
    color: black;
    /* width: 549.99px; */
    height: 15px;
}

/* 게시글 제목 */
.board-title{
    display: inline;
    font-size: 26px;
    color: black;
    width: 549.99px;
    height: 15px;
}

.profile-all{
    display: block;
    height: 127px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* 프로필 사진 */
.profile{
    display: flex;
    /* display: block; */
    height: 40px;
}

/* 등급 이미지 */
#levelImage{
    width: 10px;
    height: 10px; 
}

/* 프로필 옆 작성자 */
.p-writer{
    display: inline;
    font-size: 13px;
    color: black;
    font-weight: 700;
}

/* 프로필 옆 등급 */
.p-tier{
    display: inline;
    font-size: 13px;
    color: #676767;
}

/* 프로필 옆 날짜 */
.p-date{
    display: inline;
    font-size: 12px;
    color: #979797;
}

/* 프로필 옆 조회 */
.p-hits{
    display: inline;
    font-size: 12px;
    color: #979797;
}

/* 댓글 */
.comment-board{
    
    color: black;
}


/* 좋아요 이모티콘(하트) */
.count-like{
    display: inline;
    font-size: 13px;
    color: red;
}

/* 좋아요 */
.board-like{
    display: inline;
    font-size: 13px;
    color: black;
}

/* 좋아요 개수 */
.like-count{
    display: inline;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

/* 댓글 이모티콘(말풍선) */
.count-comment{
    display: inline;
    font-size: 13px;
    color: black;
    padding-left: 15px;
}

/* 댓글 */
.bottom-comment{
    display: inline;
    font-size: 13px;
    color: black;
}

/* 댓글 개수 */
.comment-count{
    display: inline;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

/* h3태그 댓글 */
.h3-comment{
    font-size: 17px;
    padding-top: 16px;
    margin-bottom: 11px;
    margin-top: 3px;
    margin-right: 12px
}





/* //////////////////////////////////////////////////////////// */

/* 게시판명, 태그, 게시물 제목 영역 */
.titleBox{
    width: 100%;
    height: 60px;
    margin-bottom: 12px;
}

/* 멤버 프로필 이미지 */
.pi {
    position: relative;
    width: 40px;
    height: 40px;
    padding : auto;
    margin-right: 10px;
}

.pi img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* 멤버 정보 영역 */
.detail-info-area{
    height: 40px;
}

/* 게시글 내용 영역 */
.contentBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border : 1px solid black; */
    overflow:hidden;
    margin-bottom: 40px;
}

.board-content{
    width:100%;
    height:100%;
    object-fit:cover;
}

 /* 좋아요 + 댓글 */
.sideBox {
    height: 20px;
    margin-bottom: 20px;
}

.like-comment {
    padding-bottom: 16px;
    border-bottom: 1px solid #ebecef;
} 



/* 댓글 영역 */
/* .commentBox{
    margin
} */

/* 게시글 작성자 클릭시 */
.p-writer a{
    text-decoration: none;
    color: black;
}
.p-writer a:hover{
    text-decoration: underline;
}

/* 등급 제한 페이지 */
#mainArea{
    width: 860px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size : 12px;
    color: #666666;
    font-family: sans-serif;
}

/* 사용자 정보 출력 */
.user-level {
    padding : 14px 13px 11px; 
    margin: 8px 0 28px;
    border: 1px solid #ccc;
    color: #666666;
}

.info-list {
    display: flex;
    list-style: none;
    padding-top:8px;
}

/*  |  ::after 사용*/
.info-list li::after {
    content: "|";
    margin: 0 10px;
}

.info-list li:last-child::after{
    content: none;
}

/* 등급별 포인트 컬러 */
.g{
    color : #73358C;
    font-weight: bold;
}

/* 등급명 강조 */
.user-level-name{
    font-weight: bold;
    color: red;
}

/* 자세히보기 */
.view-detail{
    text-decoration: none;
    color: black;
}

.view-detail:hover{
    text-decoration: underline;
}

/* 좋아요 기능을 사용하지 않을 때 */

/* 좋아요 이모티콘(하트) */
.gray-heart{
    display: inline;
    font-size: 13px;
    color: #ccc;
}

/* 좋아요 */
.dont-like{
    display: inline;
    font-size: 13px;
    color: #ccc;
}