/*댓글 작성*/
.comment-write-area {
	display: flex;
	min-height: 85px;
	justify-content: center;
	
	margin: 30px 0;
}

.comment-write-area > textarea{
	flex-basis: 75%;
    margin-right: 10px;
	resize: none;
	border: solid 1px #ebecef;
	outline-style: none;
}

.comment-write-area > button{
	flex-basis: 7%;
    height: 85px;

	font-weight: bold;
    border: 0;
    background-color: #F5A8C0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* 댓글 조회 */
#comment-list{
	padding: 0;
	list-style: none;
}

.comment-writer {
	display: flex;
	align-items: center;
}

.comment-date{
	font-size: 0.8em;
	color: #aaa;
}

.comment-content-area{
	font-size: 14px;
}

.comment-btn-area { 
	display: flex;
	justify-content: flex-end;
}

/* 내가 쓴 댓글일 경우 */
/* .myCommentCK{
	background-color: #73358c2d;
} */

/* 버튼 */
.comment-btn-area button{
    width: 50px;
    height: 30px;
	margin-left: 10px;

    font-weight: bold;
    background-color: white;
    color : #F5A8C0;
    border: 1px solid #F5A8C0;
    border-radius: 5px;
    cursor: pointer;
}

.comment-btn-area button:hover{

    border: 0;
    background-color: #F5A8C0;
    color : white;
    border-radius: 5px;
}

.comment-row{
	border-top : 1px solid #ebecef;
	padding : 15px 0;
}


/* 대댓글 */
.child-comment{
	padding-left : 50px;
	position: relative;
}

/* 
.child-comment:before {
	content: "\f0a4";
	font-family: "FontAwesome";
	
	position : absolute;
	left : 0;
	top : 35px;
} */


/* 답글 */
.commentInsertContent{
	width: 100%;
    height: 90px;
    resize: none;
    margin-top : 20px;
    border: solid 2px #ebecef;
	outline-style: none;
}

/* 댓글 작성자 클릭시 */
.comment-writer-area a{
    text-decoration: none;
    color: black;
}
.comment-writer-area a:hover{
    text-decoration: underline;
}

/* 댓글 작성자 */
.comment-writer-area{
	display: inline;
	font-size: 13px;
	color: black;
	font-weight: 700;
}

/* 닉네임 옆 등급 */
/* .comment-writer-level{
    display: inline;
    font-size: 13px;
    color: #676767;
} */

/* 등급 이미지 */
.levelImage{
    width: 10px;
    height: 10px; 
}

/* 날짜 */
/* .p-date2{
    display: inline-block;
	position:absolute;
	display: inherit;
    font-size: 12px;
    color: #979797;
	margin-bottom: 10px;
} */

/* 멤버 프로필 이미지 */
.pi-area {
    position: relative;
    width: 40px;
    height: 40px;
    padding : auto;
    margin-right: 10px;
}

.pi-area img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*댓글 수정*/

.update-textarea{
	width: 100%;
    height: 90px;
    resize: none;
}

.update-textarea{
	flex-basis: 75%;
    margin-right: 10px;
	resize: none;
	border: solid 2px #ebecef;
	outline-style: none;
}

/* 삭제된 댓글 */
.delete-comment-content{
    font-size: 14px;

}
.delete-comment-date{
    font-size: 13px;
}