/*댓글*/
.comment-write-area {
	display: flex;
	min-height: 85px;
	justify-content: center;
	
	margin: 30px 0;
}

.comment-write-area > textarea{
	flex-basis: 75%;
    margin-right: 10px;
	resize: none;
}

.comment-write-area > button{
	flex-basis: 7%;
    height: 85px;

	font-weight: bold;
    border: 0;
    background-color: #73358C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#comment-list{
	padding: 0;
	list-style: none;
}

.comment-writer {
	display: flex;
	align-items: center;
}

.comment-date{
	font-size: 0.8em;
	color: #aaa;
}

.comment-content{
	font-size: 14px;
}


.comment-btn-area { 
	display: flex;
	justify-content: flex-end;
}

/* 버튼 */
.comment-btn-area button{
    width: 50px;
    height: 30px;
	margin-left: 10px;

    font-weight: bold;
    border: 0;
    background-color: #73358C;
    color : white;

    cursor: pointer;
}

.comment-btn-area button:hover{
    background-color: white;
    color : #73358C;
    border: 2px solid #73358C;
}

.update-textarea{
	width: 100%;
    height: 90px;
    resize: none;
}

.comment-row{
	border-top : 1px solid #ccc;
	padding : 15px 0;
}


.child-comment{
	padding-left : 50px;
	position: relative;
}

/* 
.child-comment:before {
	content: "\f0a4";
	font-family: "FontAwesome";
	
	position : absolute;
	left : 0;
	top : 35px;
} */


/* 답글 */
.commentInsertContent{
	width: 100%;
    height: 90px;
    resize: none;
    margin-top : 20px;
}

/* 게시글 작성자 클릭시 */
.p-writer a{
    text-decoration: none;
    color: black;
}
.p-writer a:hover{
    text-decoration: underline;
}
